@using FHIR_MIS_web.ViewModels
@model FireLyPatientViewModel;

<div class="col-md-4">
        <h4 class="card-title">Поиск</h4>
        <div>
            <p>Фамилия</p>
            <input asp-for=LastName class="form-control"/>
            <p>Имя</p>
            <input asp-for=FirstName class="form-control"/>
            <p>Отчество</p>
            <input asp-for=FathersName class="form-control"/>
            <div class="row">
                <div class="col-md-2">
                    <p>Пол</p>
                    <select asp-for=Gender class="form-select-sm">
                        <option selected></option>
                        <option value="1">M</option>
                        <option value="1">Ж</option>
                    </select>
                </div>
                <div class="col-md-4 offset-4">
                    <p>Дата рождения</p>
                    <input asp-for=Birthday type="date" class="form-control"/>

                </div>
            </div>
            <div>
                <p>Адрес</p>
                <input class="form-control" />
            </div>
        </div>
        <a asp-action="SearchResult" class="btn btn-primary">Поиск</a>
</div>
